/* body {
  background-image: none;
} */
/* 
.header-section {
  border: 1px solid black
}
 .header-container {
   border: 2px solid black;
  display: flex;
  justify-content: end;
  background-color: rgb(15, 80, 15);
  color: white;
  font-size: large;
}

.header-container p {
  margin-right: 12px;
}

.header-route {
  display: flex;
  align-self: flex-end;
  position: relative;
}

.header-route ul {
  display: flex;
  justify-content: space-evenly;
}

.header-route li {
  width: 33%;
  text-align: center;
  list-style: none;
  font-size: 26px;
  color:rgb(15, 80, 15)
} */
